@font-face {
    font-family: imported-font;
    src: url(CactusClassicalSerif-Regular.ttf)
}

body {
    font-family: imported-font;
    background-color: aquamarine;
}

nav {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border: solid 2px red;
    width: 100% -4px;
    background-color: lightblue;
}

footer {
    position: absolute;
    bottom: 5%;
}

h1 {
    background-color: lightblue;
    margin-left: 42.5%;
    width: 15%;
    border: 2px solid black;
    text-align: center;
}

h2, h3 {
    text-decoration-line: underline;
}

img {
    border-radius: 50%;
    width: 15%;
    height: 20%;
    border: 2px solid black;
}

p {
    padding-left: 20%;
    padding-right: 20%;
}

#leftlink {
    padding-right: 2%;
}

#middlelink {
    padding-left: 2%;
    padding-right: 2%;
}

#rightlink {
    padding-left: 2%;
}

#homeheader {
    margin-top: 15%;
}

.center {
    text-align: center;
}

.spacing {
    margin-top: 5%;
}