@font-face {
    font-family: imported-font;
    src: url(CactusClassicalSerif-Regular.ttf)
}

body {
    filter: contrast(150%);
    font-family: imported-font;
    color: #1d4014;
    text-align: center;
}

nav {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border: solid 2px #1d4014;
    width: 100%;
    background-color: #ebc0e1
}

footer {
    position: absolute;
    bottom: 5%;
}

h1 {
    border-radius: 50%;
    background-color: #ebc0e1;
    margin: auto;
    padding: 2% 2% 2% 2%;
    width: 40%;
    border: 2px solid #1d4014;
    text-align: center;
}

h2 {
    text-decoration-line: underline;
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    border-radius: 50%;
    width: 15%;
    height: 20%;
    border: 2px solid #1d4014;
}

p {
    padding-left: 20%;
    padding-right: 20%;
}

video {
    border: 2px solid #1d4014;
    width: 40vw;
    height: 35vh;
}

#leftlink {
    padding-right: 2%;
}

#middlelink {
    padding-left: 2%;
    padding-right: 2%;
}

#rightlink {
    padding-left: 2%;
}

#homeheader {
    margin-top: 15%;
}

#lineargradient {
    height: 100vh;
    background-image: linear-gradient(to bottom, #6b335f, #ab7da1, #ebc0e1);
}

#anglegradient {
    background-image: linear-gradient(to bottom right, #1d4014, #6c9662, #c9ebc0);
}

.nogradient {
    background-color: #c9ebc0;
}

.spacing {
    margin-top: 3%;
}